attrdict==2.0.0
certifi==2018.1.18
chardet==3.0.4
cytoolz==0.9.0.1
eth-abi==1.0.0
eth-account==0.1.0a2
eth-hash==0.1.0
eth-keyfile==0.5.1
eth-keys==0.2.0b3
eth-rlp==0.1.0
eth-utils==1.0.1
falcon==1.4.1
gunicorn==19.7.1
hexbytes==0.1.0
idna==2.6
lru-dict==1.1.6
msgpack-python==0.5.6
pycryptodome==3.5.1
python-mimeparse==1.6.0
requests==2.18.4
rlp==0.6.0
six==1.11.0
toolz==0.9.0
urllib3==1.22
web3==git+https://github.com/ethereum/web3.py
