@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,800|Open+Sans:300,400,400i,600,700,800');

$base-font = 'Open Sans', sans-serif
$secondary-font = 'Montserrat', sans-serif

$primary-color = #4ECDC4
$gray = #E0E0E0
$white = #FFF
$blue = #1E90FF
$red = #FF6B6B
$yellow = #FDAC19
$cream = #F7FFF7

$xs = 576px
$sm = 768px
$md = 992px
$xl = 1024px
