<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callisto Block Explorer and Search</title>
</head>
<body>
<header>
    <h1>Last Blocks on the Callisto Blockchain</h1>
    <img src="" alt="">

    <nav class="menu">
        <ul>
            {{if .UserName}}
            <li><a href="#">log out</a></li>
            {{else}}
            <li><a href="#">sign up</a></li>
            <li><a href="#">log in</a></li>
            {{end}}
        </ul>
    </nav>
</header>
<div>
    <h2>List of last five blocks</h2>

</div>

</body>
</html>