<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Callisto Block Explorer</title>
</head>
<body>

<h1>LOGIN</h1>
<form method="post">
    <input type="text" name="username" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>

</body>
</html>