.ChainList
  padding 1em 0
  &-content
    display grid
    grid-template-columns 1fr 1fr 1fr 1fr
    grid-gap 1em
    justify-content center
    margin-top 1em
  &-title
    font-family $secondary-font
    margin 0
    font-size 18px
    +from-width($sm)
      font-size 24px
