.LatestBlocksResults
  display grid
  grid-template-columns .5fr 1fr 1fr 1fr 1fr
  padding .5em 0
  &:not(:last-child)
    border-bottom solid 1px $gray
  &-title, &-result
    font-weight 600
    font-size 14px
  &-result
    &:hover
      cursor pointer
