.LatestBlocks
  padding 2em 1em
  &-top
    display grid
    grid-template-columns 1fr 1fr
    align-items center
    margin-bottom .5em
    &-title
      justify-self flex-start
      margin 0
      font-family $secondary-font
      font-size 18px
      +from-width($sm)
        font-size 24px
    &-seemore
      display block
      justify-self flex-end
      &:hover
        cursor pointer
  &-content
    background $white
    box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.06)
    padding 1em
    border-radius 5px
    display grid
    border solid 1px $blue
    border-bottom solid 4px $blue
    margin-top 1em
    &-head
      display grid
      grid-template-columns .25fr .5fr 1fr 1fr 1fr
      padding 1em 0
      +from-width($sm)
        grid-template-columns .5fr 1fr 1fr 1fr 1fr
    &-title
      font-weight 600
      font-size 14px
      grid-gap 10px
      justify-self center
      +from-width($sm)
        font-size 18px
        justify-self flex-start
