.MarketStatus
  display flex
  flex-direction column
  &-title
    margin 0
    font-family $secondary-font
    font-size 18px
  &-content
    display grid
    padding 1em
    margin-top 1em
    grid-gap 1em
    border solid 1px $blue
    border-bottom solid 4px $blue
    border-radius 5px
    box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.06)
    &-element
      display grid
      align-items center
      grid-gap 1em
      grid-template-columns 1fr 1fr
      font-size 22px
      &-chain
        position relative
        &:before
          content '='
          position absolute
          right 10px
