.TransactionsPerDay
  &-title
    margin 0
    font-family $secondary-font
    font-size 18px
  &-content
    background $white
    margin-top .5em
    box-shadow 0 14px 14px 0 rgba(29, 53, 77, 0.06)
    padding 1em
    border-radius 5px
    display grid
    border solid 1px $lavender
    border-bottom solid 4px $lavender
    margin-top 1em
